<!DOCTYPE html>
<html>
<head>
    <title>My Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <script src="{{ url_for('static', filename='loader.js') }}"></script>
</head>
<body>
    <h1>AI Website Niche Finder!</h1>
    <form action="{{ url_for('upload_csv.upload_csv') }}" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
        {{ form.hidden_tag() }}
        <label class="text label" for="from_row">{{ form.from_row.label }}</label>
        {{ form.from_row() }}
        <br>
        <label class="text label" for="to_row">{{ form.to_row.label }}</label>
        {{ form.to_row() }}
        <br>
        <label class="text label" for="batch_length">{{ form.batch_length.label }}</label>
        {{ form.batch_length() }}
        <br>
        <label class="text label" for="prompt_context">{{ form.prompt_context.label }}</label>
        {{ form.prompt_context() }}
        <br>
        <label class="text label" for="prompt_question">{{ form.prompt_question.label }}</label>
        {{ form.prompt_question() }}
        <br>
        <input class="text label" type="file" name="csv_file">
        <input type="submit" value="Upload">
    </form>
    <div class="text" id="loader" style="display:none;">Processing data...</div>
</body>
</html>
